
.navbar{
    position: absolute;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.749);
    z-index: 1;
    
}
.navbar a{
    color: black;
    
}
.navbar .logo{
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
   
}
.navbar .nav-links ul{
    display :flex;
}
.navbar .nav-links ul li {
    margin:0 25px;
    list-style: none;
  
}
.navbar .nav-links ul li a{
    text-decoration: none;
    font-weight: bold;
}
.navbar .nav-links ul li a:hover{
    text-decoration: underline;
    text-decoration-color: purple; /* Rouge */
    text-decoration-thickness: 4px; /* Épaisseur du soulignement */
    text-underline-offset: 5px;/* Décalage du soulignement par rapport au texte */
    
}

.navbar .menu-hamburger{
    display:none;
    width: 35;
    position: absolute;
    top:50px;
    right: 20px;
    width: 35px;

}




@media screen and (max-width:600px) {
    .navbar {
        padding:0;
    }
    .navbar .logo{
        position: absolute;
        top: 10px;
        left:30px

    }

    .navbar .menu-hamburger{
        display: block;
        top:10px
    }

    .nav-links{
        display: none;
    }

    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(255,255,255,0,299);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2rem;
    }

    .nav-links.mobile-menu{
        margin-left:0;
    }

  
}

.boite{
    display:flex
}
.home_text{
    align-self: center;
    margin-left: 60px;
    padding-top: 60px;
}
.home_title{
    font-size:xx-large;
}
.color{
    color: palevioletred;
   
}


.home_text .button{
    display: inline-block;
    border-radius: .5rem;
    background-color: palevioletred;
    padding: .175rem 3.5rem;

}
.home_text .button:hover{
box-shadow: 0 10px 36px rgba(0,0,0,.15);
}
.home_text a{
    text-decoration: none;
    color: white;
    font-size: larger;
}



.reseau{
    display: flex;
    flex-direction: row;
    color: black;
    margin-top: 100px;
    margin-left: 60px;
  
}

.reseau_icon{
    width:max-content;
    font-size: 1.5rem;
    padding-left: 20px;
}

.reseau_icon:hover{
    color:palevioletred;
}


.image img{
    position:absolute;
    width: 350px;
    height: auto;
    right:160px;
    clip-path: circle();
    border-radius: 30px;
    padding-top: 0px;

    
}

@media screen and (max-width:900px) {
    .image {
        position: relative;
        margin-top: 500px;
        padding-left:200px ;
        margin-left: 120px;
    }
    .reseau{
        position: relative;
        display: flex;
        flex-direction: column;
        color: black;
        margin-left: 0;
       
    }
    .reseau_icon{
        margin-bottom: 20px;
    }


}



.l-main{
    padding-top: 100px;
}

.about_section{
    margin-top: 90px;
   
}
.section_title:hover{
    text-decoration: underline;
    text-decoration-color: purple; /* Rouge */
    text-decoration-thickness: 4px; /* Épaisseur du soulignement */
    text-underline-offset: 4px;/* Décalage du soulignement par rapport au texte */
}
.section_title, .about_container {
    text-align: center;
}
.about_img img{
   
    width: 300px;
    height: auto;
    right:150px;
    border-radius: 30px;
    justify-self:center;
    
}

.skills_section{margin-top: 70px;}
.section_title{
    text-align: center;
    color:palevioletred;
    font-weight: bold;
    font-size: 30px;
}
.section_title:hover{
    text-decoration: underline;
    text-decoration-color: purple; /* Rouge */
    text-decoration-thickness: 4px; /* Épaisseur du soulignement */
    text-underline-offset: 4px;/* Décalage du soulignement par rapport au texte */
}
.competences{
    display: flex;
}
.language span{
    font-size: 15px;
}
.langages{
    display:flex;
    flex-wrap: wrap; /* Ajoute cette ligne pour permettre le retour à la ligne */
    justify-content: center; 
  
}
.skills_container{
    width: 900px;
    height: auto;
}
.skills_container .langages .langage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 10px;
    margin-left: 0px;
    margin: 10px;
    border: 1.5px solid purple;
    border-radius: 5px ;
    
}
.mysql{
    width: 70px;
    height: auto;
}
.sql,.react{ width: 40px;}
.bootstrap{ width: 40px;}
.langage i{
    font-size: 30px;
}
.langage:hover {
    transform: scale(1.1);
    color: #333;
  }

.competences .com{
    display: flex;
    flex-direction: column;
    background-color: rgb(237, 191, 206);
    border-radius: 20px;
    padding-top: 50px;
}


@media screen and (max-width:700px) {
    .competences{
        display:flex;
        flex-direction: column;
       
    }
    .langages {
        
        display: grid;
        grid-template-columns: repeat(3,1fr);
        padding-right: 400px;
      }
      
    .langage {
        gap: 16px;
        margin: 10px;
        height: 8px;
       
    }

    .langage i{
        width:3px;
        padding-right: 10px;
    }
   
    .skills_container .langages .langage span {
        font-size: 10px;

    }
    .com{
    
        padding-bottom: 60px;
        display: flex;
        width:  470px;
      
    }
}


.work_section{
    margin-top: 60px;
}
.work_title{
    color: palevioletred;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.work_title:hover{
    text-decoration: underline;
    text-decoration-color: purple; /* Rouge */
    text-decoration-thickness: 4px; /* Épaisseur du soulignement */
    text-underline-offset: 4px;/* Décalage du soulignement par rapport au texte */
}
.projets{
    display: flex;
    flex-wrap: wrap;
    gap:40px;
    margin-left: 210px;
}
.projets img{
    width: 300px;

}
.contact_session{
    margin-top: 100px;
}
.contact_title{
    color: palevioletred;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.contact_title:hover{
    text-decoration: underline;
    text-decoration-color: purple; /* Rouge */
    text-decoration-thickness: 4px; /* Épaisseur du soulignement */
    text-underline-offset: 4px;/* Décalage du soulignement par rapport au texte */
}

.contact_input{
 width: 60%;
 padding: 1rem;
 border-radius: .5rem;
 border: 1.5px solid ;
 outline: none;
 margin-top: 15px;
 margin-left: 250px;
}

.contact_button{
    font-size: large;
    display: block;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: palevioletred;
    margin-top: 10px;
    border-radius:.5rem;
    margin-left: auto;
    margin-right: 230px;
    padding: .175rem 2.5rem;
}
@media screen and (max-width:900px) {
    .projets{
        display: flex;
        flex-wrap: wrap;
        margin-left: 80px;
        gap: 10px;
    }
    .projet img{
        width: 150px;
    }
    .contact_input{
        margin-left: 100px;
    }
    .contact_button{
        margin-left: 330px;
    }
    .footer_social{
        display: flex;
        flex-direction: row;
        margin-left: 2000px;

    }
  

  
}



.footer{
    background-color:purple;
    margin-top: 50px;
    width: 100%;
    height: auto;
    padding-right: 200px;

}
.footer_title,.footer p{
    color: white;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer_social img{
    width: 17px;
}
.footer_social{
    margin-left: 590px;
  
}
.footer_social a{
    margin-right:30px;

}
.footer_social a:hover{
   color:rgb(29, 2, 29) ;

}

.footer_icon{
    font-size: 1.5rem;
}
@media screen and (max-width:900px) {
   
    .footer .footer_social{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0;
    }
  

  
}





@media screen and (min-width:700px){
    body{
        margin:0;
    }
    .about_container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        text-align: initial;
        margin-left: 30px;
    }
    .about_text{
        margin-right: 30px;
    }
}